CREATE TABLE IF NOT EXISTS public.moderation_queue (id uuid default gen_random_uuid() primary key, type text not null, target_id uuid, target_type text, description text, reported_by text, status text default 'pending', severity text default 'medium', created_at timestamp with time zone default timezone('utc'::text, now()) not null);
